USE [master]
GO
/****** Object:  Database [PWIII_TP]    Script Date: 26/10/2025 20:01:36 ******/
CREATE DATABASE [PWIII_TP]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PWIII_TP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PWIII_TP]
GO
/****** Object:  Table [dbo].[Canciones]    Script Date: 26/10/2025 20:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Canciones](
	[IdCancion] [int] IDENTITY(1,1) NOT NULL,
	[SpotifyTrackId] [varchar](50) NULL,
	[Titulo] [varchar](255) NOT NULL,
	[Artista] [varchar](150) NULL,
	[UrlPreview] [varchar](500) NULL,
	[Popularidad] [int] NULL,
	[Danceability] [real] NULL,
	[Energy] [real] NULL,
	[Valence] [real] NULL,
	[Acousticness] [real] NULL,
	[Tempo] [real] NULL,
	[Instrumentalness] [real] NULL,
	[Letras] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCancion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SpotifyTrackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Interacciones]    Script Date: 26/10/2025 20:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Interacciones](
	[IdInteraccion] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdCancion] [int] NOT NULL,
	[Valor] [real] NULL,
	[TipoInteraccion] [varchar](20) NULL,
	[FechaInteraccion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdInteraccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recomendaciones]    Script Date: 26/10/2025 20:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recomendaciones](
	[IdRecomendacion] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuarioFuente] [int] NOT NULL,
	[IdUsuarioRecomendado] [int] NOT NULL,
	[PuntajeSimilitud] [real] NULL,
	[FechaCalculo] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRecomendacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 26/10/2025 20:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[SpotifyId] [varchar](50) NULL,
	[NombreUsuario] [varchar](100) NULL,
	[Email] [varchar](150) NULL,
	[FechaRegistro] [datetime2](7) NULL,
	[TokenAcceso] [nvarchar](max) NULL,
	[TokenRefresco] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SpotifyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Interacciones] ADD  DEFAULT (getdate()) FOR [FechaInteraccion]
GO
ALTER TABLE [dbo].[Recomendaciones] ADD  DEFAULT (getdate()) FOR [FechaCalculo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Interacciones]  WITH CHECK ADD FOREIGN KEY([IdCancion])
REFERENCES [dbo].[Canciones] ([IdCancion])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Interacciones]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Recomendaciones]  WITH CHECK ADD FOREIGN KEY([IdUsuarioFuente])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Recomendaciones]  WITH CHECK ADD FOREIGN KEY([IdUsuarioRecomendado])
REFERENCES [dbo].[Usuario] ([IdUsuario])
ON DELETE CASCADE
GO
USE [master]
GO
